html {
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* background-image: url("https://i.ibb.co/B3sS411/sushi.png"); */
    background-repeat: no-repeat;
    background-position: auto;
    min-width: 375px;
    background-size: 100%;
    background-position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}


/* Header */

h1 {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px #ffae66;
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 1.6rem;
}

.header-description p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.3em;
    font-style: italic bold;
    color: #ffae66;
    ;
}


/* Cards */

.cards a:link,
a:visited {
    background: #000000;
    color: white;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: .6em;
    width: 70%;
    height: 60px;
}

.cards p {}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 3rem;
    grid-template-columns: 120px 120px;
    align-items: start;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.maki {
    width: 300px;
    padding: 1em;
}

.sashimi {
    width: 300px;
    padding: 1em;
}

.nigiri {
    width: 300px;
    padding: 1em;
}

.american {
    width: 300px;
    padding: 1em;
}

header {
    height: 60px;
    border: 1px solid #ffae66;
    background-color: black;
    width: 100%;
    z-index: 1;
    display: flex;
    overflow: hidden;
    justify-content: right;
    text-align: right;
}


/* Maki.html specific CSS */

.navlinks nav li {
    align-content: center;
    float: left;
    margin-top: 1.2rem;
    padding-right: 0.5rem;
}

.navlinks a {
    text-decoration: none;
    color: white;
}

.maki-content {
    margin-top: 4rem;
}

.maki-veg {
    width: 200px;
    height: 200px;
    padding: 1px 25px;
    margin: 70px auto;
}

.maki-tuna {
    width: 200px;
    height: 200px;
    padding: 1px 25px;
    margin: 70px auto;
}

.maki-salmon {
    width: 200px;
    height: 200px;
    padding: 1px 25px;
    margin: 70px auto;
}

.maki-salmon img {
    max-width: 100%;
    height: auto;
}

.maki-veg img {
    max-width: 100%;
    height: auto;
}

.maki-tuna img {
    max-width: 100%;
    height: auto;
}

.maki-content a {
    background: #69646e;
    color: white;
    padding: 5px 30px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    width: 100%;
    height: 30px;
}

.maki-content li {
    display: inline;
}

h3 {
    padding: 10px 0;
    font-size: 1.4em;
}

.how-to-maki a {
    display: block;
    background: white;
    color: #69646e;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin: 1.2em auto;
    width: 50%;
    height: 30px;
}


/* HOW TO ROLL */

.roll-article {
    position: relative;
    min-width: 350px;
    max-width: 600px;
    margin: 1.3em auto;
    line-height: 1em;
    padding: 0 2em;
    text-align: justify;
    text-justify: inter-word;
}


/* MAKI VEGGIE CONTENT */

.avocado-maki {
    margin: 1.4em auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.avocado-maki h2 {
    margin: 0.5em auto;
    font-size: 1.3em;
    position: relative;
}

.avocado-maki img {
    width: 50%;
    margin: 0.5em;
}

.kappa-maki {
  margin: 1.4em auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.kappa-maki h2 {
  margin: 0.5em auto;
  font-size: 1.3em;
  position: relative;
}

.kappa-maki img {
  width: 50%;
  margin: 0.5em;
}


.ingredients li {
    list-style: disc;
    text-align: left;
}


/* Sashimi.html specific CSS */

.navlinks nav li {
    align-content: center;
    float: left;
    margin-top: 1.2rem;
    padding-right: 0.5rem;
}

.navlinks a {
    text-decoration: none;
    color: white;
}

.sashimi-content {
    margin-top: 4rem;
}

.sashimi-salmon {
    width: 200px;
    height: 200px;
    padding: 1px 25px;
    margin: 70px auto;
}

.sashimi-tataki-tuna {
    width: 200px;
    height: 200px;
    padding: 1px 25px;
    margin: 70px auto;
}

.sashimi-salmon img {
    max-width: 100%;
    height: auto;
}

.sashimi-tataki-tuna img {
    max-width: 100%;
    height: auto;
}

.sashimi-content a {
    background: #69646e;
    color: white;
    padding: 5px 30px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    width: 100%;
    height: 30px;
}

.sashimi-content li {
    display: inline;
}

h3 {
    padding: 10px 0;
}

.how-to-sashimi a {
    display: block;
    background: white;
    color: #69646e;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin: 2em auto;
    width: 40%;
    height: 30px;
}


/* HOT TO PREPARE */

.prepare-sashimi {
    position: relative;
    min-width: 350px;
    max-width: 600px;
    margin: 5em auto;
    line-height: 1em;
    padding: 0 2em;
    text-align: justify;
    text-justify: inter-word;
}

/* HOw TO DO */



/* SASHIMI SALMON CONTENT */

.sashimi-salmon-content {
    margin: 3em auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
}

.sashimi-salmon-content h2 {
    margin: 0.5em auto;
    font-size: 1.3em;
    position: relative;
}

.sashimi-salmon-content img {
    width: 50%;
    margin: 0.5em;
}

.sashimi-tuna-content {
    margin: 3em auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
    text-align: center;
}

.sashimi-tuna-content h2 {
    margin: auto;
    font-size: 1.3em;
}

.sashimi-tuna-content img {
    width: 70%;
    margin: 0.5em;
}


.ingredients li {
    list-style: disc;
    text-align: left;
}


/* TATAKI TUNA CONTENT */

.tataki-tuna-content {
    margin: 3em auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
    text-align: center;
}

.tataki-tuna-content h2 {
    margin: auto;
    font-size: 1.3em;
}

.tataki-tuna-content img {
    width: 70%;
    margin: 0.5em;
}

.ingredient-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ingredients li {
    list-style: disc;
    text-align: left;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
    .same-line-query {
        display: flex;
    }
}


/* MAKI SALMON CONTENT */

.salmon-maki {
  margin: 1.4em auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  }

.salmon-maki h2 {
    margin: 0.5em auto;
    font-size: 1.3em;
    position: relative;
}

.salmon-maki img {
    width: 50%;
    margin: 0.5em;
}


/* MAKI TUNA CONTENT */

.tuna-maki {
  margin: 1.4em auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.tuna-maki h2 {
    margin: 0.5em auto;
    font-size: 1.3em;
    position: relative;
}

.tuna-maki img {
    width: 50%;
    margin: 0.5em;
}